<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3cd93">  <td>22/05/17 17:03:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.addToCart()[pri:0, instance:CloudScaleQa.HomePageTest@4f6ee6e4]">addToCart</td> 
  <td>main@1939990953</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/05/17 17:03:24</td>   <td>-16159</td> <td title="&gt;&gt;HomePageTest.beforeTest()[pri:0, instance:CloudScaleQa.HomePageTest@4f6ee6e4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1939990953</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/05/17 17:04:01</td>   <td>20864</td> <td title="&lt;&lt;HomePageTest.close()[pri:0, instance:CloudScaleQa.HomePageTest@4f6ee6e4]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1939990953</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/05/17 17:04:00</td>   <td>19965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.deleteCart()[pri:0, instance:CloudScaleQa.HomePageTest@4f6ee6e4]">deleteCart</td> 
  <td>main@1939990953</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/05/17 17:03:57</td>   <td>16746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.quantityTo10()[pri:0, instance:CloudScaleQa.HomePageTest@4f6ee6e4]">quantityTo10</td> 
  <td>main@1939990953</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/05/17 17:03:36</td>   <td>-3919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchItem(java.lang.String)[pri:1, instance:CloudScaleQa.HomePageTest@4f6ee6e4]">searchItem</td> 
  <td>main@1939990953</td>   <td></td> </tr>
</table>
